@font-face{
    font-family: Netflix Sans; 
    src: url(../assets);
}


*{
    padding: 0%;
    margin: 0%;
    font-family: ;
    
}
#page{
    width: 100%;
    background-color: #1f1e1e;
}
header, main, footer, #secoesSeries, .produtos{

    width: 100%;
    display: flex;
}

header, footer {
    height: 60px;
    background-color: black;
}
nav ul{
    display: flex;
    gap: 20px;
}

aside{
    width: 50%;
    height: 100%;
    display: flex;
}


.imagem{
    width: 100%;
}

#logo{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

}
#asideEsquerda{
    justify-content: center;
}
#secoesSeries{
    flex-direction: column;   /*Presta atenção nesse cara*/
    background-color: black;
    gap: 20px;
    align-items: center;
}
.fila{
    width: 95%;
    height: 200px;
    background-color: rgba(70, 68, 68, 0.527);
}

.fila h2{
    margin: 12px;
    font-weight: bold;
    color: white;
}

.produtos{
    height: 100px;
    gap: 5px;

}

.itemdafila{
    width: 200px;
    height: 100%;
    background-position:center ;
    background-size:100%;
    background-repeat: no-repeat;

}

/* Itens */

/* Seção de Séries */

#s1{
    background-image: url("../images/balkmirror.png");
}

#s2{
    background-image: url("../images/alienista.png");

}

#s3{
    background-image: url("../images/comedia.png");
}

/* a{
    text-decoration-color:none ;
    text-decoration-style:solid ;

} */

/* Em Alta */


#d1{
    background-image: url("../images/balkmirror.png");
}

#d2{
    background-image: url("../images/alienista.png");

}

#d3{
    background-image: url("../images/comedia.png");
}

/* Terror */


#m1{
    background-image: url("../images/balkmirror.png");
}

#m2{
    background-image: url("../images/alienista.png");

}

#m3{
    background-image: url("../images/comedia.png");
}

/* Suspense */


#x1{
    background-image: url("../images/balkmirror.png");
}

#x2{
    background-image: url("../images/alienista.png");

}

#x3{
    background-image: url("../images/comedia.png");
}

/* Top da Semana */

#p1{
    background-image: url("../images/balkmirror.png");
}

#p2{
    background-image: url("../images/alienista.png");

}

#p3{
    background-image: url("../images/comedia.png");
}